<div class="index-container">
    <div class="container">
        <img src="/images/beer.png" alt="beer" />
        <button type="button"><a href="/beers">Check the beers!</a></button>
        <button type="button"><a href="/randomBeers">Check random beer</a></button>
    </div>
</div>